<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 카멜 케이스 VO 매핑 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 쿼리 결과 필드가 null인 경우, 누락이 되서 나오지 않게 설정 (MAP)-->
        <setting name="callSettersOnNulls" value="true"/>
        <!-- 쿼리에 보내는 파라미터가 null인 경우, 오류가 발생하는 것 방지 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
<!--        &lt;!&ndash; MyBatis 로그 레벨 설정 &ndash;&gt;-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
    </settings>

    <typeAliases>
        <typeAlias type="com.example.classhubproject.data.user.UserResponseDTO" alias="user"/>
        <typeAlias type="com.example.classhubproject.data.community.CommunityRequestDTO" alias="communityRequest"/>
        <typeAlias type="com.example.classhubproject.data.community.CommunityResponseDTO" alias="communityResponse"/>
        <typeAlias type="com.example.classhubproject.data.community.CommunityImageRequestDTO" alias="communityImageRequest"/>
        <typeAlias type="com.example.classhubproject.data.community.CommunityImageUploadRequestDTO" alias="communityImageUploadRequest"/>
        <typeAlias type="com.example.classhubproject.data.comment.CommentRequestDTO" alias="commentRequest"/>
        <typeAlias type="com.example.classhubproject.data.comment.CommentResponseDTO" alias="commentResponse"/>
        <typeAlias type="com.example.classhubproject.data.favorite.FavoriteRequestDTO" alias="favoriteRequest"/>
        <typeAlias type="com.example.classhubproject.data.cart.CartRequestDTO" alias="cartRequest"/>
        <typeAlias type="com.example.classhubproject.data.cart.CartResponseDTO" alias="cartResponse"/>
        <typeAlias type="com.example.classhubproject.data.lecture.ClassResponseDTO" alias="classResponse"/>
        <typeAlias type="com.example.classhubproject.data.order.OrderRequestDTO" alias="orderRequest"/>
        <typeAlias type="com.example.classhubproject.data.order.OrderResponseDTO" alias="orderResponse"/>
        <typeAlias type="com.example.classhubproject.data.order.OrderDetailResponseDTO" alias="orderDetailResponse"/>
        <typeAlias type="com.example.classhubproject.data.payment.PaymentRequestDTO" alias="paymentRequest"/>
        <typeAlias type="com.example.classhubproject.data.payment.PaymentResponseDTO" alias="paymentResponse"/>
        <typeAlias type="com.example.classhubproject.data.enrollmentInfo.EnrollmentInfoRequestDTO" alias="enrollmentInfoRequest"/>
        <typeAlias type="com.example.classhubproject.data.category.CategoryResponseDTO" alias="categoryResponse"/>
        <typeAlias type="com.example.classhubproject.data.instructor.InstructorsResponseDTO" alias="instructorResponse"/>
    </typeAliases>

</configuration>