<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.classhubproject.mapper.lecture.ClassMapper">

<!--    &lt;!&ndash; classId 로 가격 조회 &ndash;&gt;-->
<!--    <select id="getClassPrice" resultType="int">-->
<!--        SELECT price-->
<!--        FROM Class-->
<!--        WHERE class_id = #{classId}-->
<!--    </select>-->


</mapper>

