<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.classhubproject.mapper.community.CommunityMapper">

    <insert id="posting" parameterType="communityRequest">
        <selectKey keyProperty="communityId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() AS community_id
        </selectKey>
        INSERT INTO Community(user_id, community_type, title, text)
        VALUES (#{userId}, #{communityType}, #{title}, #{text});
    </insert>


    <insert id="insertImage" parameterType="communityImageRequest">
        <selectKey keyProperty="communityImageId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() AS community_image_id
        </selectKey>
        INSERT INTO Community_Image_Path(imagePath)
        VALUES (#{imagePath});
    </insert>

    <insert id="insertImagePath" parameterType="communityRequest">
        INSERT INTO Community_Image(image)
        VALUES (#{image});
    </insert>

    <insert id="insertCommunityToImage" parameterType="communityImageUploadRequest">
        INSERT INTO Community_Image(community_id, community_image_id)
        VALUES (#{communityId}, #{imageId});
    </insert>


    <select id="selectAllRecentQuestions" resultType="communityResponse">
        SELECT c.community_id,
        c.user_id,
        (SELECT nickname FROM User WHERE user_id = c.user_id) AS nickname,
        c.community_type,
        c.title,
        c.text,
        c.regdate,
        (SELECT COUNT(*) FROM Favorite_Community WHERE favorite_type_id = c.community_id) AS favorite_count,
        (SELECT COUNT(*) FROM Comment WHERE community_id = c.community_id) AS comment_count
        FROM Community c
        -- LEFT JOIN Favorite_Community fc ON c.community_id = fc.favorite_type_id AND fc.favorite_type = '1'
        -- LEFT JOIN Comment cm ON c.community_id = cm.community_id
        WHERE c.community_type = '1'
        <if test="type != null">
            <if test="type == 'all'">
                AND (c.title LIKE CONCAT('%', #{search}, '%')
                OR c.text LIKE CONCAT('%', #{search}, '%'))
            </if>
            <if test="type == 'title'">
                AND c.title LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="type == 'content'">
                AND c.text LIKE CONCAT('%', #{search}, '%')
            </if>
        </if>
        ORDER BY c.community_id DESC
        LIMIT #{startIndex}, #{rowPerPage}
    </select>

    <select id="selectAllQuestionsByFavorite" resultType="communityResponse">
        SELECT c.community_id,
        c.user_id,
        (SELECT nickname FROM User WHERE user_id = c.user_id) AS nickname,
        c.community_type,
        c.title,
        c.text,
        c.regdate,
        (SELECT COUNT(*) FROM Favorite_Community WHERE favorite_type_id = c.community_id) AS favorite_count,
        (SELECT COUNT(*) FROM Comment WHERE community_id = c.community_id) AS comment_count
        FROM Community c
        -- LEFT JOIN Favorite_Community fc ON c.community_id = fc.favorite_type_id AND fc.favorite_type = '1'
        -- LEFT JOIN Comment cm ON c.community_id = cm.community_id
        WHERE c.community_type = '1'
        <if test="type != null">
            <if test="type == 'all'">
                AND (c.title LIKE CONCAT('%', #{search}, '%')
                OR c.text LIKE CONCAT('%', #{search}, '%'))
            </if>
            <if test="type == 'title'">
                AND c.title LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="type == 'content'">
                AND c.text LIKE CONCAT('%', #{search}, '%')
            </if>
        </if>
        ORDER BY favorite_count DESC
        LIMIT #{startIndex}, #{rowPerPage}
    </select>

    <select id="selectAllQuestionsByComment" resultType="communityResponse">
        SELECT c.community_id,
        c.user_id,
        (SELECT nickname FROM User WHERE user_id = c.user_id) AS nickname,
        c.community_type,
        c.title,
        c.text,
        c.regdate,
        (SELECT COUNT(*) FROM Favorite_Community WHERE favorite_type_id = c.community_id) AS favorite_count,
        (SELECT COUNT(*) FROM Comment WHERE community_id = c.community_id) AS comment_count
        FROM Community c
        -- LEFT JOIN Favorite_Community fc ON c.community_id = fc.favorite_type_id AND fc.favorite_type = '1'
        -- LEFT JOIN Comment cm ON c.community_id = cm.community_id
        WHERE c.community_type = '1'
        <if test="type != null">
            <if test="type == 'all'">
                AND (c.title LIKE CONCAT('%', #{search}, '%')
                OR c.text LIKE CONCAT('%', #{search}, '%'))
            </if>
            <if test="type == 'title'">
                AND c.title LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="type == 'content'">
                AND c.text LIKE CONCAT('%', #{search}, '%')
            </if>
        </if>
        ORDER BY comment_count DESC
        LIMIT #{startIndex}, #{rowPerPage}
    </select>

    <select id="selectAllRecentStudies" resultType="communityResponse">
        SELECT c.community_id,
        c.user_id,
        (SELECT nickname FROM User WHERE user_id = c.user_id) AS nickname,
        c.community_type,
        c.title,
        c.text,
        c.regdate,
        (SELECT COUNT(*) FROM Favorite_Community WHERE favorite_type_id = c.community_id) AS favorite_count,
        (SELECT COUNT(*) FROM Comment WHERE community_id = c.community_id) AS comment_count
        FROM Community c
        -- LEFT JOIN Favorite_Community fc ON c.community_id = fc.favorite_type_id AND fc.favorite_type = '1'
        -- LEFT JOIN Comment cm ON c.community_id = cm.community_id
        WHERE (c.community_type = '2'
        OR c.community_type = '3')
        <if test="type != null">
            <if test="type == 'all'">
                AND (c.title LIKE CONCAT('%', #{search}, '%')
                OR c.text LIKE CONCAT('%', #{search}, '%'))
            </if>
            <if test="type == 'title'">
                AND c.title LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="type == 'content'">
                AND c.text LIKE CONCAT('%', #{search}, '%')
            </if>
        </if>
        ORDER BY c.community_id DESC
        LIMIT #{startIndex}, #{rowPerPage}
    </select>

    <select id="selectAllStudiesByFavorite" resultType="communityResponse">
        SELECT c.community_id,
        c.user_id,
        (SELECT nickname FROM User WHERE user_id = c.user_id) AS nickname,
        c.community_type,
        c.title,
        c.text,
        c.regdate,
        (SELECT COUNT(*) FROM Favorite_Community WHERE favorite_type_id = c.community_id) AS favorite_count,
        (SELECT COUNT(*) FROM Comment WHERE community_id = c.community_id) AS comment_count
        FROM Community c
        -- LEFT JOIN Favorite_Community fc ON c.community_id = fc.favorite_type_id AND fc.favorite_type = '1'
        -- LEFT JOIN Comment cm ON c.community_id = cm.community_id
        WHERE (c.community_type = '2'
        OR c.community_type = '3')
        <if test="type != null">
            <if test="type == 'all'">
                AND (c.title LIKE CONCAT('%', #{search}, '%')
                OR c.text LIKE CONCAT('%', #{search}, '%'))
            </if>
            <if test="type == 'title'">
                AND c.title LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="type == 'content'">
                AND c.text LIKE CONCAT('%', #{search}, '%')
            </if>
        </if>
        ORDER BY favorite_count DESC
        LIMIT #{startIndex}, #{rowPerPage}
    </select>

    <select id="selectAllStudiesByComment" resultType="communityResponse">
        SELECT c.community_id,
        c.user_id,
        (SELECT nickname FROM User WHERE user_id = c.user_id) AS nickname,
        c.community_type,
        c.title,
        c.text,
        c.regdate,
        (SELECT COUNT(*) FROM Favorite_Community WHERE favorite_type_id = c.community_id) AS favorite_count,
        (SELECT COUNT(*) FROM Comment WHERE community_id = c.community_id) AS comment_count
        FROM Community c
        -- LEFT JOIN Favorite_Community fc ON c.community_id = fc.favorite_type_id AND fc.favorite_type = '1'
        -- LEFT JOIN Comment cm ON c.community_id = cm.community_id
        WHERE (c.community_type = '2'
        OR c.community_type = '3')
        <if test="type != null">
            <if test="type == 'all'">
                AND (c.title LIKE CONCAT('%', #{search}, '%')
                OR c.text LIKE CONCAT('%', #{search}, '%'))
            </if>
            <if test="type == 'title'">
                AND c.title LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="type == 'content'">
                AND c.text LIKE CONCAT('%', #{search}, '%')
            </if>
        </if>
        ORDER BY comment_count DESC
        LIMIT #{startIndex}, #{rowPerPage}
    </select>

    <select id="selectStudiesByStatus" resultType="communityResponse">
        SELECT c.community_id,
        c.user_id,
        (SELECT nickname FROM User WHERE user_id = c.user_id) AS nickname,
        c.community_type,
        c.title,
        c.text,
        c.regdate,
        (SELECT COUNT(*) FROM Favorite_Community WHERE favorite_type_id = c.community_id) AS favorite_count,
        (SELECT COUNT(*) FROM Comment WHERE community_id = c.community_id) AS comment_count
        FROM Community c
        LEFT JOIN Favorite_Community fc ON c.community_id = fc.favorite_type_id AND fc.favorite_type = '1'
        -- LEFT JOIN Comment cm ON c.community_id = cm.community_id
        WHERE c.community_type = #{status}
        <if test="type != null">
            <if test="type == 'all'">
                AND (c.title LIKE CONCAT('%', #{search}, '%')
                OR c.text LIKE CONCAT('%', #{search}, '%'))
            </if>
            <if test="type == 'title'">
                AND c.title LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="type == 'content'">
                AND c.text LIKE CONCAT('%', #{search}, '%')
            </if>
        </if>
        ORDER BY c.community_id DESC
        LIMIT #{startIndex}, #{rowPerPage}
    </select>

    <resultMap type="communityResponse" id="communityResultMap">
        <id column="community_id" property="communityId"/>
        <result column="user_id" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="community_type" property="communityType"/>
        <result column="title" property="title"/>
        <result column="text" property="text"/>
        <result column="regdate" property="regDate"/>
        <result column="favorite_count" property="favoriteCount"/>
        <result column="comment_count" property="commentCount"/>
        <result column="edit_date" property="editDate"/>
        <collection property="image" ofType="string">
            <result column="imagePath"/>
        </collection>
        <collection property="imageIds" ofType="integer">
            <result column="community_image_id"/>
        </collection>
        <collection property="likeUsers" ofType="integer">
            <result column="favorite_user_id"/>
        </collection>
    </resultMap>

    <select id="selectQuestion" resultType="communityResponse"
            resultMap="communityResultMap">
        SELECT c.community_id,
               c.user_id,
               u.nickname,
               c.community_type,
               c.title,
               c.text,
               c.regdate,
               (SELECT COUNT(*) FROM Favorite_Community WHERE favorite_type_id = c.community_id) AS favorite_count,
               (SELECT COUNT(*) FROM Comment WHERE community_id = c.community_id)                AS comment_count,
               fc.user_id                                                                        AS favorite_user_id,
               cip.imagePath,
               ci.community_image_id,
               c.edit_date
        FROM Community c
                 LEFT JOIN Favorite_Community fc ON c.community_id = fc.favorite_type_id AND fc.favorite_type = '1'
                 LEFT JOIN Community_Image ci ON c.community_id = ci.community_id
                 LEFT JOIN Community_Image_Path cip ON cip.community_image_id = ci.community_image_id
                 LEFT JOIN User u ON c.user_id = u.user_id
        WHERE c.community_type = '1'
          AND c.community_id = #{id}
    </select>

    <select id="selectStudy" resultType="communityResponse"
            resultMap="communityResultMap">
        SELECT c.community_id,
               c.user_id,
               (SELECT nickname FROM User WHERE user_id = c.user_id)                             AS writer,
               c.community_type,
               c.title,
               c.text,
               c.regdate,
               (SELECT COUNT(*) FROM Favorite_Community WHERE favorite_type_id = c.community_id) AS favorite_count,
               (SELECT COUNT(*) FROM Comment WHERE community_id = c.community_id)                AS comment_count,
               fc.user_id                                                                        AS favorite_user_id,
               cip.imagePath,
               ci.community_image_id,
               c.edit_date
        FROM Community c
                 LEFT JOIN Favorite_Community fc ON c.community_id = fc.favorite_type_id AND fc.favorite_type = '1'
                 LEFT JOIN Community_Image ci ON c.community_id = ci.community_id
                 LEFT JOIN Community_Image_Path cip ON cip.community_image_id = ci.community_image_id
        WHERE c.community_type = '2'
          AND c.community_id = #{id}
    </select>

    <update id="modifyCommunity" parameterType="communityRequest">
        UPDATE Community
        SET user_id        = #{communityDto.userId},
            community_type = #{communityDto.communityType},
            title          = #{communityDto.title},
            text           = #{communityDto.text},
            edit_date      = now()
        WHERE community_id = #{communityId}
    </update>

    <update id="updateBoard" parameterType="communityRequest">
        UPDATE Community
        SET user_id        = #{communityRequest.userId},
            community_type = #{communityRequest.communityType},
            title          = #{communityRequest.title},
            text           = #{communityRequest.text},
            edit_date      = now()
        WHERE community_id = #{communityId}
    </update>

    <!--    <delete id="removeImage" parameterType="communityRequest">-->
    <!--        DELETE-->
    <!--        FROM Community_Image-->
    <!--        WHERE community_id = #{communityId}-->
    <!--          AND image = #{fileName};-->
    <!--    </delete>-->

    <!--    <update id="removeImage" parameterType="communityRequest">-->
    <!--        update Community_Image_Path-->
    <!--        SET imagePath = 'null'-->
    <!--        WHERE community_image_id = #{removeImageId};-->
    <!--    </update>-->

    <delete id="removeImage" parameterType="communityRequest">
        DELETE
        FROM Community_Image
        WHERE community_image_id = #{removeImageId};
    </delete>

    <delete id="removeImagePath" parameterType="communityRequest">
        DELETE
        FROM Community_Image_Path
        WHERE community_image_id = #{removeImageId};
    </delete>

    <update id="updateImage" parameterType="communityRequest">
        update Community_Image_Path
        SET imagePath = #{fileName}
        WHERE community_image_id = #{imageId};
    </update>

    <!--    <select id="selectImageId" resultType="Integer">-->
    <!--        SELECT-->
    <!--            community_image_id-->
    <!--        FROM Community_Image-->
    <!--        WHERE community_id = #{communityId}-->
    <!--    </select>-->

    <select id="selectImageNameById" resultType="java.lang.String">
        SELECT imagePath
        FROM Community_Image_Path
        WHERE community_image_id = #{removeImageId}
    </select>

    <select id="countAllQuestions" resultType="Integer">
        SELECT count(*)
        FROM Community
        WHERE community_type = '1'
        <if test="type != null">
            <if test="type == 'all'">
                AND title LIKE CONCAT('%', #{search}, '%')
                OR text LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="type == 'title'">
                AND title LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="type == 'content'">
                AND text LIKE CONCAT('%', #{search}, '%')
            </if>
        </if>
    </select>

    <select id="countAllStudies" resultType="Integer">
        SELECT count(*)
        FROM Community
        WHERE (community_type = '2' OR community_type = '3')
        <if test="type != null">
            <if test="type == 'all'">
                AND title LIKE CONCAT('%', #{search}, '%')
                OR text LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="type == 'title'">
                AND title LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="type == 'content'">
                AND text LIKE CONCAT('%', #{search}, '%')
            </if>
        </if>
    </select>

    <select id="countAllStudiesByStatus" resultType="Integer">
        SELECT count(*)
        FROM Community
        WHERE community_type = #{status}
        <if test="type != null">
            <if test="type == 'all'">
                AND title LIKE CONCAT('%', #{search}, '%')
                OR text LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="type == 'title'">
                AND title LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="type == 'content'">
                AND text LIKE CONCAT('%', #{search}, '%')
            </if>
        </if>
    </select>

    <select id="selectCommunityForMainpage" resultType="communityResponse">
        SELECT c.community_id,
               c.user_id,
               (SELECT nickname FROM User WHERE user_id = c.user_id)                             AS nickname,
               c.community_type,
               c.title,
               c.text,
               c.regdate,
               (SELECT COUNT(*) FROM Favorite_Community WHERE favorite_type_id = c.community_id) AS favorite_count,
               (SELECT COUNT(*) FROM Comment WHERE community_id = c.community_id)                AS comment_count
        FROM Community c
        ORDER BY community_id DESC LIMIT 10;
    </select>

    <select id="selectQuestionForMypage" resultType="communityResponse">
        SELECT c.community_id,
               c.user_id,
               (SELECT nickname FROM User WHERE user_id = c.user_id)                             AS nickname,
               c.community_type,
               c.title,
               c.text,
               c.regdate,
               (SELECT COUNT(*) FROM Favorite_Community WHERE favorite_type_id = c.community_id) AS favorite_count,
               (SELECT COUNT(*) FROM Comment WHERE community_id = c.community_id)                AS comment_count
        FROM Community c
        WHERE c.user_id = #{userId}
          AND c.community_type = 1;
    </select>

    <select id="selectStudyForMypage" resultType="communityResponse">
        SELECT c.community_id,
               c.user_id,
               (SELECT nickname FROM User WHERE user_id = c.user_id)                             AS nickname,
               c.community_type,
               c.title,
               c.text,
               c.regdate,
               (SELECT COUNT(*) FROM Favorite_Community WHERE favorite_type_id = c.community_id) AS favorite_count,
               (SELECT COUNT(*) FROM Comment WHERE community_id = c.community_id)                AS comment_count
        FROM Community c
        WHERE c.user_id = #{userId}
          AND (c.community_type = 2 OR c.community_type = 3);
    </select>

</mapper>