<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.classhubproject.mapper.user.UserMapper">

    <insert id="joinByGoogle" parameterType="user">
        INSERT INTO User(user_name, name, nickname, email, profile_picture, platform_type)
        VALUES (#{userName}, #{name}, #{nickname}, #{email}, #{profilePicture}, "Google");
    </insert>

    <insert id="insertGoogle" parameterType="user">

        INSERT INTO User(user_name, name, nickname, email, role, platform_type, profile_picture)
        VALUES (#{userName}, #{name}, #{nickname}, #{email}, #{role}, "Google", #{profilePicture});

    </insert>

    <update id="updateGoogle" parameterType="user">
        UPDATE User SET email = #{email}, name = #{name}, nickname = #{nickname}, profile_picture = #{profilePicture} WHERE user_id = #{userId};
    </update>

    <insert id="join" parameterType="user">
        INSERT INTO User(user_name, name, nickname, email, profile_picture, platform_type, role)
        VALUES (#{userName}, #{name}, #{nickname}, #{email}, #{profilePicture}, "Google", 1);
    </insert>

    <select id="selectUserIDByUsername" resultType="Integer">
        SELECT user_id
        FROM User
        WHERE user_name = #{username}
    </select>

    <select id="selectUserNameByUsername" resultType="Integer">
        SELECT name
        FROM User
        WHERE user_name = #{username}
    </select>


    <select id="checkDuplicateByUsername" resultType="Integer">
        SELECT count(*)
        FROM User
        WHERE user_name = #{username}
    </select>

    <select id="selectUserByUsername" resultType="user">
        SELECT
            user_id,
            user_name,
            name,
            nickname,
            email,
            profile_picture,
            introduce,
            regdate,
            exit_date,
            role
        FROM User
        WHERE user_name = #{userName}
    </select>

    <update id="updateUserInfo" parameterType="user">
        UPDATE User
        SET    name = #{name},
               nickname = #{nickname},
               email = #{email},
               introduce = #{introduce}
        WHERE user_name = #{userName}
    </update>

    <update id="updateUserImage" parameterType="user">
        UPDATE User
        SET    profile_picture = #{file}
        WHERE user_name = #{userName}
    </update>

    <select id="getUserId" resultType="int">
        SELECT user_id FROM User WHERE user_name = #{userName}
    </select>

</mapper>